{% extends "base.html" %}

{% block content %}
  <h2>{{ _("Profile of") }} {{ user.username }}</h2>
  {% if can_edit %}
    <div class="edit-profile-link">
      <a href="{{ url_for('main.edit_profile') }}" class="btn btn-secondary">{{ _('Edit Profile') }}</a>
    </div>
  {% endif %}
  {% if user.profile_image %}
    <img src="{{ url_for('static', filename='uploads/' ~ user.profile_image) }}" alt="{{ _('Profile Image') }}" style="width: 150px; height: 150px; border-radius: 50%;">
  {% else %}
    <img src="{{ url_for('static', filename='uploads/default.png') }}" alt="{{ _('Default Profile Image') }}" style="width: 150px; height: 150px; border-radius: 50%;">
  {% endif %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <div>
      <label for="email">{{ _('Email') }}</label>
      {{ form.email(class="form-control") }}
    </div>

    <div>
      <label for="typology_name">{{ _('Typology Name') }}</label>
      {{ form.typology_name(class="form-control") }}
    </div>

    <div>
      <label for="type_value">{{ _('Type Value') }}</label>
      {{ form.type_value(class="form-control") }}
    </div>

    <div>
      <label for="city">{{ _('City') }}</label>
      {{ form.city(class="form-control") }}
    </div>

    <div>
      <label for="country">{{ _('Country') }}</label>
      {{ form.country(class="form-control") }}
    </div>

    <div>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
